@font-face {
  font-family: "Philosopher-Regular";
  src: url("./assets/fonts/Philosopher-Regular.ttf");
}

@font-face {
  font-family: "Righteous-Regular";
  src: url("./assets/fonts/Righteous-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #e09f3e;
  --text-color: #fbf8f8;
  --caroussel-color: #177ea1;
  --main-radius: 8px;
  --text-font: "Philosopher-Regular";
  --title-font: "Righteous-Regular";
}
body {
  background-image: url(https://img.freepik.com/photos-gratuite/rendu-3d-arriere-plan-moderne-cyber-particules-fluides_1048-14716.jpg?t=st=1716972191~exp=1716975791~hmac=1107f2582e98460bc6a9d571d468b62d8d6401c236eb4ba98d264cdaae2fcc8b&w=1480);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  font-family: var(--title-font);
}

a {
  text-decoration: none;
}

.box {
  box-shadow: 8px 10px 15px 5px rgba(66, 66, 66, 0.61);
  border-radius: var(--main-radius);
}
