@font-face {
  font-family: "Philosopher-Regular";
  src: url("./assets/fonts/Philosopher-Regular.ttf");
}

@font-face {
  font-family: "Righteous-Regular";
  src: url("./assets/fonts/Righteous-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #e09f3e;
  --text-color: #fbf8f8;
  --caroussel-color: #177ea1;
  --main-radius: 8px;
  --text-font: "Philosopher-Regular";
  --title-font: "Righteous-Regular";
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.background {
  background-image: url(../src/assets/images/background.avif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

h2 {
  font-family: var(--title-font);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.box {
  box-shadow: 8px 10px 15px 5px rgba(66, 66, 66, 0.61);
  border-radius: var(--main-radius);
}

.home {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .home-box {
    padding: 3rem;
    background-color: rgba(68, 60, 154, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    width: 50rem;
    height: 25rem;
  }
  h1 {
    font-size: 3rem;
    color: var(--text-color);
    font-family: var(--title-font);
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    p {
      width: 35rem;
      text-align: center;
      font-family: var(--text-font);
      color: var(--text-color);
      font-size: 2rem;
    }
  }
  a {
    height: 4rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    background-color: var(--main-color);
    border: solid 1px white;
    outline: solid 1px var(--main-color);
  }
  a:hover {
    color: rgba(68, 60, 154, 1);
    background-color: #f7c579;
    transition:
      border-color 0.3s,
      box-shadow 0.3s;
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
  }
}
@media (max-width: 768px) {
  .home {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .home-box {
      width: 80%;
      height: 25rem;
    }
    h1 {
      text-align: center;
      font-size: 1.9rem;
      color: var(--text-color);
      font-family: var(--title-font);
    }
    div {
      p {
        display: none;
      }
    }
    a {
      text-align: center;
      width: 90%;
      font-size: 1.5rem;
    }
  }
}
