.cart-details {
  padding: 2rem;
  margin: 2rem;
  background-color: rgba(150, 150, 150, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 70%;
  .cart-information {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    .cart-price {
      border: 1px solid var(--text-color);
      border-radius: var(--main-radius);
      padding: 1rem;
    }
    h3 {
      font-size: 1.5rem;
      color: var(--text-color);
      font-family: var(--text-font);
    }
  }
}

.title-cart {
  margin: 2rem;
}
.adjust-total-css {
  width: 70%;
  display: flex;
  justify-content: end;
  margin-left: 2rem;
  margin-bottom: 2rem;
  .total-price {
    background-color: rgba(150, 150, 150, 0.5);
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .cart-details {
    margin: 2rem 0;
    flex-direction: column;
    width: 85%;
    .cart-information {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .title-cart {
    text-align: center;
  }
  .adjust-total-css {
    margin-left: 0;
    width: 100%;
    .total-price {
      margin: auto;
    }
  }
  .all-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
