.button-cart {
  background-color: var(--main-color);
  width: 15rem;
  height: 4rem;

  font-family: var(--text-font);
  font-size: 1.6rem;
  border-radius: var(--main-radius);
  /* font-weight: 600; */
  color: var(--text-color);
  border: none;
}
.button-cart:hover {
  box-shadow: 0 0 0.5em var(--main-color);
  cursor: pointer;
  background-color: #aa7f3f;
}
