.footer {
  justify-content: space-between;
  padding: 20px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.3);
  align-items: center;
  display: flex;

  .reseaux-sociaux {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    .logo-reseaux {
      width: 40px;
      height: 40px;
    }
  }
}

.formulaire {
  max-width: 200px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.formulaire label {
  color: var(--text-color);
  font-family: var(--text-font);
}
