.footer {
  justify-content: space-between;
  padding: 20px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.3);
  align-items: center;
  display: flex;

  .reseaux-sociaux {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    .logo-reseaux {
      width: 40px;
      height: 40px;
    }
  }
}

.formulaire {
  max-width: 200px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.formulaire label {
  color: var(--text-color);
  font-family: var(--text-font);
  text-align: center;
  padding: 2px;
}
.formulaire input {
  background-color: rgba(68, 60, 154, 0.55);
  border-radius: 4px;
}

.formulaire button {
  background-color: var(--main-color);
  font-family: var(--text-font);
  padding: 5px 10px;
  border-radius: 4px;
}

.formulaire p {
  margin-top: 10px;
  font-size: 14px;
}

.send-success {
  font-family: var(--text-font);
  padding: 5px 10px;
  border-radius: 4px;
  background-color: greenyellow;
}

.send-error {
  font-family: var(--text-font);
  padding: 5px 10px;
  border-radius: 4px;
  background-color: red;
}
